:root {
    --borderOutline: #000A50;
    --headingText: #000
}

* {
    background-color: #dddfff;
    margin: 1%;
}

/* the following sections define the style of the heading elements; ie my name, the nav bar, my portrait and the heading banner */
header {
    border: solid #000A50 3px;    
}

/* this section styles the name portion of the header */
header h1 {
    margin: 3%,0%;
    border: solid #000A50 3px;
    padding: 2%;
    display: inline-block;
    position: relative;
    top: 7px;
}

/* this section and the following one style the nav bar portions of the header */
header nav ul {
    position: absolute;
    right: 6%;
    top: 7%;
    /* height: fit-content; */
    width: fit-content;
    margin: 0%;
    border: solid #000A50 3px;
    padding: 2%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}   

header nav ul li {
    margin: 2%;
    border: solid #000A50 3px;
    padding: 2%;
    white-space: nowrap;
}

/* this section styles the portrait and banner portions of the heading */
header section {
    margin: 0;
    border: solid #000A50 3px;
    padding: 2%;
}

/* the following few sections define the styling of the main sections of the site */
main {
    margin: 0;
    border: solid #000A50 3px;
    padding: 0;
    
}

main section h2 {
    margin: 0;
    width: 18%;
    border: solid #000A50 3px;
    padding: 2%;
    display: inline-flex;
    flex-direction: column;
}

main section p {
    margin: 0;
    width: 60%;
    border: solid #000A50 3px;
    padding: 2%;
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}
/* #aboutMe {
} */

/* #portfolio {
} */

/* #contactInfo {
} */